html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
html {
    font-size: 10px;
    font-family: chelsea market;
}
.container nav a {
    margin: 0 5rem;
    border: .1rem solid white;
    padding: 2rem;
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
    margin-bottom: 2rem;
    color: white;
    margin-top: 2rem;
}
.plan {
    background-color:#FF764E;
}
.learn {
    background-color:#5ED3EB;
}
.get {
    background-color:#FFCD69;
}

h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 450;
    display: inline-block;
    flex-direction: row;
    text-align: center;
}
.header {
    display: inline block;
    margin: 2%;
    margin: 2%;
    font-size: 2.1rem;
}
.header img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
.image-bubble {
    display: inline-block;
    text-align: center;
    font-size: 1.05rem;
    width: 60%;
}
.valley {
    text-align: center;
    border: white;
    background-color: #DDB9A3;
    color: white;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.fire {
    display: inline block;
    font-size: .7rem;
    text-align: center;
    margin-left: 42.2%;
    margin-right: 42.2%;
}
.fire img {
    display: inline;
}
.bus {
    display: inline block;
    margin: 2.5rem;
    font-size: .7rem;
    text-align: center;
    margin-left: 42.2%;
    margin-right: 42.2%;
}
.bus img {
    display: inline;
}
img {
    height: 7rem;
    width: 7rem;
}
.footerimg {
    height: 15rem;
    width: 100%;
}
.footer nav a {
    margin: 0 5rem;
    border: .1rem solid white;
    padding: 2rem;
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
    margin-bottom: 2rem;
    color: white;
    margin-top: 2rem;
}